<template>
    <div class="row popup-gallery" id="portfolio-wrapper">
        <spinner-component v-show="loading"></spinner-component>
        <div class="col-lg-3 col-md-6 portfolio-item filter-pokefriend" v-for="follower in followers">
            <a href="" class="image">
                <img v-bind:src="'/images/' + follower.avatar" width=200 height=200 alt="">
                <div class="details">
                    <h4>{{ follower.name }}</h4>
                    <span>Seguidor</span>
                </div>
            </a>
        </div>
    </div>
</template>

<style>

</style>

<script>
    import EventBus from '../../event-bus';
    export default {
        data() {
            return {
                followers: [],
                loading: true
            }
        },
        created(){
            EventBus.$on('follower-added', data => {
                this.followers.push(data)
            })
        },
        mounted(){
            let currentRoute = window.location.pathname
            axios
                .get(`http://127.0.0.1:8000${currentRoute}/followers`)
                .then((response) => {
                    this.followers = response.data
                    this.loading =false
                    console.log(this.followers)
                })
            console.log('Component mounted.')
        }
    }
</script>
