<template>
    <form @submit.prevent="followTrainer">
        <button type="submit" class="btn btn-primary top-space" style="color: white; background-color:rgba(255, 0, 0, 0.8); outline: none; border:none">
            SEGUIR
        </button>
    </form>
</template>

<style>
    /*.top-space{
        margin-top: 0px
    }*/
</style>

<script>
    export default {
        data(){
            return{
            }
        },
        methods: {
            followTrainer: function() {
                let currentRoute = window.location.pathname
                axios
                    .post(`http://127.0.0.1:8000${currentRoute}/followers`, {
                    })
                    .then(function(response) {
                        EventBus.$emit('follower-added', response.data.followers)
                    })
                    .catch(function(err){
                        console.log(err)
                    })
            },
        }
    }
</script>
