<template>
    <button type="button" class="btn btn-primary top-space" data-toggle="modal" data-target="#addComment">
        Agregar
    </button>
</template>

<style>
    .top-space{
        margin-top: 20px
    }
</style>

<script>
    export default {

    }
</script>
