<template>
    <div class="">
        <div class="titleBox">
            <label>Comment Box</label>
        </div>
        <div class="commentBox">
            <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>

        <div class="actionBox">
            <spinner-component v-show="loading"></spinner-component>
            <ul class="commentList">
                <li v-for="comment in comments">
                    <div class="commenterImage">
                        <!--<img src="http://placekitten.com/50/50" />-->
                        <!--<img v-bind:src="'/images/' + comment">-->
                    </div>
                    <div class="commentText">
                        <p class="">{{ comment.comment }}</p> <span class="date sub-text">on March 5th, 2014</span>

                    </div>
                </li>
            </ul>
            <post-comment-component></post-comment-component>
        </div>
    </div>

</template>

<style>
    .detailBox {
        width:320px;
        border:1px solid #bbb;
        margin:50px;
    }
    .titleBox {
        background-color:#fdfdfd;
        padding:10px;
    }
    .titleBox label{
      color:#444;
      margin:0;
      display:inline-block;
    }
    .commentBox {
        padding:10px;
        border-top:1px dotted #bbb;
    }
    .commentBox .form-group:first-child, .actionBox .form-group:first-child {
        width:80%;
    }
    .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
        width:18%;
    }
    .actionBox .form-group * {
        width:100%;
    }
    .taskDescription {
        margin-top:10px 0;
    }
    .commentList {
        padding:0;
        list-style:none;
        max-height:200px;
        overflow:auto;
    }
    .commentList li {
        margin:0;
        margin-top:10px;
    }
    .commentList li > div {
        display:table-cell;
    }
    .commenterImage {
        width:30px;
        margin-right:5px;
        height:100%;
        float:left;
    }
    .commenterImage img {
        width:100%;
        border-radius:50%;
    }
    .commentText p {
        margin:0;
    }
    .sub-text {
        color:#aaa;
        font-family:verdana;
        font-size:11px;
    }
    .actionBox {
        border-top:1px dotted #bbb;
        padding:10px;
    }
</style>

<script>
    import EventBus from '../../event-bus';
    export default {
        data(){
            return{
                comments: [],
                loading: true
            }
        },
        created(){
            EventBus.$on('comment-added', data => {
                this.comments.push(data)
            })
        },
        mounted(){
            let currentRoute = window.location.pathname
            axios
                .get(`http://127.0.0.1:8000${currentRoute}/comments`)
                .then((response) => {
                    this.comments = response.data
                    this.loading =false
                    console.log(response.data)
                })
            console.log('Component mounted.')
        }
    }
</script>
