<template>
    <form class="form-inline" role="form" @submit.prevent="postComment" style="margin: 0px 300px">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Your comments" v-model="comment"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Post</button>
        </div>
    </form>
</template>

<style>

</style>

<script>
    import EventBus from '../../event-bus';
    export default {
        data(){
            return{
                comment: null
            }
        },
        methods: {
            postComment: function() {
                let currentRoute = window.location.pathname

                axios
                    .post(`http://127.0.0.1:8000${currentRoute}/comments`, {
                        comment: this.comment
                    })
                    .then(function(response) {
                        EventBus.$emit('comment-added', response.data.comment)
                    })
                    .catch(function(err){
                        console.log(err)
                    })
            }
        }
    }
</script>
