nav{
    background-color: rgba(255, 0, 0, .8);
}

.card{
    /*margin-top: 70px;*/
    margin: 25px auto;
}

.card img{
    width: 100px;
    height: 100px;
    background-color: #EFEFEF;
    margin: 20px;
}

/*----------------FORM---------------*/
.pokedex-form{
    margin: 20px 0px;
}

.pokedex-form label{
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
}

.pieceOne, .pieceTwo{
    padding: 60px 20px;
    background-color: rgba(255, 0, 0, .8);
    border-radius: 5%;
}

.pieceOne{
    border-right: solid 5px rgba(0, 0, 0, 1);
}

.pieceTwo{
    border-left: solid 5px rgba(0, 0, 0, 1);
}

.search-avatar{
    position: relative;
}

.search-avatar input[type="file"]{
    z-index: 1;
	/*height: 225px;
    width: 225px;*/
    height: 128px;
	width: 128px;
	opacity: 0;
    filter: alpha(opacity=0);
   	cursor: pointer;
   	font-size: 0;
    position: absolute;
    top: 0px;
    left: calc(50% - 64px);
    display: block;
    margin: 0 auto;
}

.search-cover{
    position: relative;
}

.search-cover input[type="file"]{
    z-index: 1;
	/*height: 250px;
    width: 700px;*/
    height: 128px;
	width: 256px;
	opacity: 0;
    filter: alpha(opacity=0);
   	cursor: pointer;
   	font-size: 0;
    position: absolute;
    top: 0px;
    left: calc(50% - 128px);
    display: block;
    margin: 0 auto;
}

/*----------------SHOW---------------*/
.user-images{
    position: relative;
}

#cover {
    /*width: 640px;
    height: 360px;*/
    width: 900px;
    height: 400px;
    cursor: pointer;
}

#avatar {
    width: 200px;
    height: 200px;
    border: solid 5px rgba(255, 255, 255, 1);
    z-index: 1;
	/*opacity: 0;
    filter: alpha(opacity=0);
    font-size: 0;*/
   	cursor: pointer;
    position: absolute;
    top: calc(100% - 100px);
    left: calc(50% - 100px);
    display: block;
    margin: 0 auto;
}

.user-info{
    margin-top: 100px;
}

.poke-team{

}

.poke-team img{
    width: 128px;
    height: 128px;
    background-color: #EFEFEF;
    margin: 20px;
}

.poke-team a{
    background-color: rgba(255, 0, 0, .8);
    border: solid 0px rgba(0, 0, 0, 1)
}

.user-videos{

}

.popup-gallery {

}

.popup-gallery a {
    display:inline-block;
    width:25%;

}

.popup-gallery img {
    /*height:100px;
    width:100px;*/
}

/*-----------------COMMENTS------------------*/

.commentList {
    margin: 50px 300px;
}

/*----------------COMMENTS--------------*/
