<template>
    <button type="button" class="btn btn-primary top-space" style="color: white; background-color:rgba(255, 0, 0, 0.8); outline: none; border:none" data-toggle="modal" data-target="#addVideo">
        AGREGAR POKÉVIDEO
    </button>
</template>

<style>
    /*.top-space{
        margin-top: 20px
    }*/
</style>

<script>
    export default {

    }
</script>
