<template>
    <div class="modal fade" id="addVideo" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">PokeVideo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="uploadVideo">
                        <div class="form-group">
                            <label>Video Title</label>
                            <input type="text" class="form-control" placeholder="Ingresa el nombre del pokemon" v-model="name">
                        </div>

                        <div class="form-group">
                            <label>Video Description</label>
                            <input type="text" class="form-control" placeholder="Ingresa el nombre del pokemon" v-model="description">
                        </div>

                        <div class="form-group">
                            <label for="">Video File</label>
                            <input type="file" class="form-control" v-on:change="handleFileUpload()" ref="file" name="route">
                        </div>

                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<style>

</style>

<script>
    import EventBus from '../../event-bus';
    export default {
        data(){
            return{
                name: null,
                description: null,
                route: null
            }
        },
        methods: {
            uploadVideo: function() {
                let currentRoute = window.location.pathname
                let formData = new FormData()
                formData.append('name', this.name)
                formData.append('description', this.description)
                formData.append('video', this.video)

                axios
                    .post(`http://127.0.0.1:8000${currentRoute}/videos`, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then(function(response) {
                        $('#addVideo').modal('hide')
                        EventBus.$emit('video-added', response.data.video)
                    })
                    .catch(function(err){
                        console.log(err)
                    })
            },
            handleFileUpload(){
                this.video = this.$refs.file.files[0];
                console.log(this.video)
            }
        }
    }
</script>
