<template>
    <div class="row popup-gallery" id="portfolio-wrapper">
        <spinner-component v-show="loading"></spinner-component>
        <div class="col-lg-3 col-md-6 portfolio-item filter-pokebattle" v-for="video in videos">
            <a v-bind:href="'/videos/' + video.id" class="video">
                <video width="400" controls>
                    <source v-bind:src="'/videos/' + video.route" type="video/mp4">
                    <source src="" type="video/ogg">
                    Your browser does not support HTML5 video.
                </video>
                <div class="details">
                    <h4>{{ video.name }}</h4>
                    <span>{{ video.description }}</span>
                </div>
            </a>
        </div>
    </div>
</template>

<style>

</style>

<script>
    import EventBus from '../../event-bus';
    export default {
        data() {
            return {
                videos: [],
                loading: true
            }
        },
        created(){
            EventBus.$on('video-added', data => {
                this.videos.push(data)
            })
        },
        mounted(){
            let currentRoute = window.location.pathname
            axios
                .get(`http://127.0.0.1:8000${currentRoute}/videos`)
                .then((response) => {
                    this.videos = response.data
                    this.loading =false
                })
            console.log('Component mounted.')
        }
    }
</script>
