<template>
    <div class="modal fade" id="addPokemon" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Pokemon</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="savePokemon">

                        <div class="form-group">
                            <label>Pokemon</label>
                            <input type="text" class="form-control" placeholder="Ingresa el nombre del pokemon" v-model="name">
                        </div>

                        <div class="form-group">
                            <label for="">Picture</label>
                            <input type="file" class="form-control" v-on:change="handleFileUpload()" ref="file" name="picture">
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<style>

</style>

<script>
    import EventBus from '../../event-bus';
    export default {
        data(){
            return{
                name: null,
                picture: null
            }
        },
        methods: {
            savePokemon: function() {
                let currentRoute = window.location.pathname
                let formData = new FormData()
                formData.append('name', this.name)
                formData.append('picture', this.picture)

                axios
                    .post(`http://127.0.0.1:8000${currentRoute}/pokemons`, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then(function(response) {
                        $('#addPokemon').modal('hide')
                        EventBus.$emit('pokemon-added', response.data.pokemon)
                    })
                    .catch(function(err){
                        console.log(err)
                    })
            },
            handleFileUpload(){
                this.picture = this.$refs.file.files[0];
                console.log(this.picture)
            }
        }
    }
</script>
