<template>
    <div class="row popup-gallery" id="portfolio-wrapper">
        <spinner-component v-show="loading"></spinner-component>
        <div class="col-lg-3 col-md-6 portfolio-item filter-poketeam" v-for="pokemon in pokemons">
            <a href="" class="image">
                <img v-bind:src="'/images/' + pokemon.picture" width=200 height=200 alt="">
                <div class="details">
                    <h4>{{ pokemon.name }}</h4>
                    <span>Alored dono par</span>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
    import EventBus from '../../event-bus';
    export default {
        data() {
            return {
                pokemons: [],
                loading: true
            }
        },
        created(){
            EventBus.$on('pokemon-added', data => {
                this.pokemons.push(data)
            })
        },
        mounted(){
            let currentRoute = window.location.pathname
            axios
                .get(`http://127.0.0.1:8000${currentRoute}/pokemons`)
                .then((response) => {
                    this.pokemons = response.data
                    this.loading =false
                })
            console.log('Component mounted.')
        }
    }
</script>>
